[user]
    name = {{ git_user_name | default('Your Name') }}
    email = {{ git_user_email | default('your.email@example.com') }}

[core]
    editor = nvim
    autocrlf = input
    safecrlf = true
    pager = bat

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    amend = commit --amend
    undo = reset --soft HEAD^
    unstash = stash pop
    graph = log --graph --oneline --decorate --all
    aliases = config --get-regexp alias
    remotes = remote -v
    tags = tag -l
    branches = branch -a
    stashes = stash list
    uncommit = reset --mixed HEAD~
    recommit = commit --amend --no-edit
    precommit = diff --cached --diff-algorithm=minimal -w
