# Kubectl aliases for Kubernetes management

# Basic kubectl
alias k='kubectl'
alias kc='kubectl'

# Get resources
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias kgd='kubectl get deployment'
alias kgs='kubectl get service'
alias kgn='kubectl get nodes'
alias kgnamespaces='kubectl get namespaces'
alias kgi='kubectl get ingress'
alias kgpv='kubectl get pv'
alias kgpvc='kubectl get pvc'
alias kgcm='kubectl get configmap'
alias kgsec='kubectl get secret'

# Get with wide output
alias kgpw='kubectl get pods -o wide'
alias kgdw='kubectl get deployment -o wide'
alias kgsw='kubectl get service -o wide'
alias kgnw='kubectl get nodes -o wide'

# Get all resources
alias kga='kubectl get all'
alias kgaa='kubectl get all --all-namespaces'

# Describe resources
alias kd='kubectl describe'
alias kdp='kubectl describe pod'
alias kdd='kubectl describe deployment'
alias kds='kubectl describe service'
alias kdn='kubectl describe node'
alias kdi='kubectl describe ingress'

# Delete resources
alias kdel='kubectl delete'
alias kdelp='kubectl delete pod'
alias kdeld='kubectl delete deployment'
alias kdels='kubectl delete service'

# Apply and create
alias ka='kubectl apply -f'
alias kaf='kubectl apply -f'
alias kcr='kubectl create'
alias krun='kubectl run'

# Logs
alias kl='kubectl logs'
alias klf='kubectl logs -f'
alias klp='kubectl logs -p'

# Execute and port-forward
alias ke='kubectl exec -it'
alias kpf='kubectl port-forward'

# Context and namespace
alias kctx='kubectl config current-context'
alias kctxs='kubectl config get-contexts'
alias kctxu='kubectl config use-context'
alias ksetns='kubectl config set-context --current --namespace'
alias kgctx='kubectl config get-contexts'

# Top resources
alias ktop='kubectl top'
alias ktopn='kubectl top nodes'
alias ktopp='kubectl top pods'

# Edit resources
alias ked='kubectl edit'
alias kedp='kubectl edit pod'
alias kedd='kubectl edit deployment'
alias keds='kubectl edit service'

# Scale
alias kscale='kubectl scale'

# Rollout
alias kro='kubectl rollout'
alias kros='kubectl rollout status'
alias kroh='kubectl rollout history'
alias krou='kubectl rollout undo'

# Config
alias kcfg='kubectl config'
alias kcfgv='kubectl config view'

# Utility functions for kubectl
kexec() {
    kubectl exec -it $1 -- /bin/bash
}

kshell() {
    kubectl exec -it $1 -- /bin/sh
}

klogs() {
    kubectl logs -f $1
}

kwatch() {
    watch kubectl get $1
}

# Get pod by label
kgpl() {
    kubectl get pods -l $1
}

# Get all resources in namespace
kgns() {
    kubectl get all -n $1
}

# Quick namespace switch
kns() {
    kubectl config set-context --current --namespace=$1
}
